<!DOCTYPE html>
<html>
<head>
  <title>IddsystemPlugins</title>
  <%= stylesheet_link_tag    "iddsystem_plugins/application", media: "all" %>
  <%= javascript_include_tag "iddsystem_plugins/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
